<body>
  
<div class="container mt-5 d-flex justify-content-center align-items-center">
  <!-- <h3>Toast Example</h3>
  <p>A toast is like an alert box that is only shown for a couple of seconds when something happens (i.e. when a user clicks on a button, submits a form, etc.).</p>
  <p>In this example, we use the .show class to always show the toast by default. You can close it by clicking on the close (x) icon inside the toast header.</p> -->
  
  <div class="toast show t1">
    <div class="toast-header">
      <strong class="me-auto">Toast Header</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">


      <div class="container">

        <div class="row r1">

          <div class="col-lg-6 col-md-6 col-sm-6">
           
            <p class="h2 ">Order No 369</p>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="h2">Contact Phone  <span class="text-danger">0888071405 </span> </p>

          </div>
        </div>
        <div class="row r2">
          <div class="col-lg-6 col-md-6 col-sm-6 d-flex ">
           <img class="img-fluid w-50  rounded " src="../../assets/coca.jpg" alt="">
           <p class="pt-5 fw-bold">Coca Cola 10</p>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 d-flex ">
            <img class="img-fluid w-75 "  src="../../assets/ABC.jpg" alt="">
            <p class="pt-5 fw-bold">ABC 8</p>

          </div>
        </div>
        <div class="row r3 mt-4">
          <div class="col-lg-6 col-md-6 col-sm-6  d-flex ">
           <img class="img-fluid w-50 rounded " src="../../assets/sugar.jpg" alt="">
           <p class="fw-bold pt-5">Sugar 10</p>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6  d-flex ">
            <img class="img-fluid w-75" src="../../assets/7UP.jpg" alt="">
            <p class="pt-5 fw-bold">7 up 8</p>

          </div>
        </div>
        <div class="row r4 mt-4">
          <div class="col-lg-6 col-md-6 col-sm-6  d-flex ">
            <img class="img-fluid w-50 rounded " src="../../assets/chocolate.jpg" alt="">

            <p class="pt-5 fw-bold">Chocolate 10</p>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6  d-flex ">
            <img class="img-fluid w-75 rounded" src="../../assets/Bread.jpg" alt="">
            <p class="pt-5 fw-bold">Bread 8 </p>

          </div>
        </div>
        <div class="row r5 mt-4">

          <div class="col-lg-6 col-md-6 col-sm-6 d-flex   ">
            <img class="img-fluid w-75 rounded" src="../../assets/Onion.jpg" alt="">
            <p class="pt-5 fw-bold">Onion 10</p>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6  d-flex ">
            <img class="img-fluid w-50 rounded" src="../../assets/Cucumber.jpg" alt="">

            <p class="pt-5 fw-bold">Cucumber 8</p>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>

</body>









