<div class="order-manager">
  <h1>
    Shop Order Management
    <hr />
  </h1>
  <div class="kanban-board">
    <!-- Loop through each column -->
    <div class="kanban-column" *ngFor="let column of columns">
      <h3>{{ column.name }} ({{ column.tasks.length }})</h3>
      <div
        class="column"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, column.status)"
      >
        <!-- Display tasks based on displayCount -->
        <div
          class="task"
          *ngFor="let item of column.tasks.slice(0, column.displayCount)"
          draggable="true"
          (dragstart)="onDragStart(item)"
        >
          <div class="task-header" (click)="toggleMenu(item)">
            <span>{{ item.ticketId }}</span>
            <button (click)="toggleMenu(item); $event.stopPropagation()">
              ...
            </button>
          </div>
          <div>{{ item.ticketName }}</div>

          <!-- Task menu for view/delete -->
          <div class="task-menu" *ngIf="item.showMenu">
            <button (click)="viewTask(item); item.showMenu = false">
              <a href="">View</a>
            </button>
            <button (click)="deleteTask(item, column); item.showMenu = false">
              Delete
            </button>
          </div>
        </div>
      </div>
      <button class="show" (click)="toggleMoreLess(column.status)">
        {{ column.showingMore ? "Less" : "More" }}
      </button>
    </div>
  </div>
</div>
