.active{
color:#3498db !important ;
}

a:hover{
background-color: #3498db ;
color: #f0f4f8 !important;
transition: all 0.8s;
}

.bg{
  background-color: #f0f4f8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}