<!-- <app-v-last> </app-v-last> -->
<!-- <app-v-last> </app-v-last>  -->
<!-- Vattey  -->
<!-- <app-reject-order></app-reject-order> -->
 <!-- <app-receive-oder-list></app-receive-oder-list> -->
 <!-- <app-v-last> </app-v-last> -->
<!-- <app-reject-order></app-reject-order>  -->
<!-- =====> End  -->

<!-- LivAn -->
<!-- <app-receive-order-list></app-receive-order-list>
<app-pickup-component></app-pickup-component>
<app-order-detail></app-order-detail>  -->
<!-- Ends LivAn -->

<!-- <app-return></app-return>
<app-return-order-list></app-return-order-list> -->
<!-- <app-pickup-component></app-pickup-component> -->
<!-- <app-return></app-return> -->
<!-- <app-return-order-list></app-return-order-list> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end w-25 bg" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Heading</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <a class="text-decoration-none fs-5 text-dark-emphasis"  routerLink="Livan"  routerLinkActive=" active ">ReceiveOrderList </a>
    <br>
    <a class="text-decoration-none fs-5 text-dark-emphasis" routerLink="Vattey"  routerLinkActive=" active">OrderDetetail</a>
    <br>
    <a class="text-decoration-none fs-5 text-dark-emphasis " routerLink="Pickup"  routerLinkActive=" active">Pickup</a>
    <br>
    <a class="text-decoration-none fs-5 text-dark-emphasis " routerLink="ReceiveOrderList1"  routerLinkActive=" active">ReceiveOrderList</a>
    <br>
    <a class="text-decoration-none fs-5 text-dark-emphasis  " routerLink="OrderDetail"  routerLinkActive=" active">OrderDetail</a>
    <br>
    <a class="text-decoration-none fs-5 text-dark-emphasis " routerLink="RejectOrder"  routerLinkActive=" active">RejectOrder</a>
    <br>
    <a href=""  class="text-decoration-none fs-5 text-dark-emphasis " routerLink="Return"  routerLinkActive=" active">Return</a>
    <br>
    <a href=""  class="text-decoration-none fs-5 text-dark-emphasis " routerLink="ReturnOrderList"  routerLinkActive=" active">ReturnOrderList</a>
    <br>
    <a href=""  class="text-decoration-none fs-5 text-dark-emphasis " routerLink="RefundList"  routerLinkActive=" active">RefundList</a>
    <br>
  
    <!-- <button class="btn btn-secondary" type="button">A Button</button> -->
  </div>
</div>

<div class="container-fluid mt-3">
  
  <h3>Offcanvas Sidebar</h3>
  <p>Offcanvas is similar to modals, except that it is often used as a sidebar.</p>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Open Offcanvas Sidebar
  </button>
  <!-- <app-receive-order-list></app-receive-order-list> -->
</div>

<router-outlet> </router-outlet>



