<body>
  

<div class="container ">
   
  <p> 
    Reject Order 
  </p>
  <div class="container">
    <p>Order No           <span class="fw-bold  text-danger text-decoration-underline">   1406</span>   </p>

    <p class="pt-5">Reason</p>


  <div class="form-floating ">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
    <label for="floatingTextarea2">Typing  on here</label>
  </div>
</div>

<div class="row">

<div class="">
  <button class="btn btn-info float-end m-5">Cancel</button>
  <button class="btn btn-danger float-end mt-5
  ">Reject</button>
</div>

</div>

<p>Note :</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius natus architecto ipsa dolorem minus nihil quibusdam ipsum eaque quasi aliquam maxime ea illum molestias ab voluptate, veniam esse, sed culpa blanditiis impedit quam fuga commodi, consectetur modi? Hic tempora quis porro aut adipisci totam iure. Temporibus similique maiores sapiente molestiae?</p>

</div>




</body>